<!-- <app-painel-simples-especifico [base_url]="base_url" [size]="size" [movies]="movies"></app-painel-simples-especifico> -->
<!-- <div class="category">
  Filmes populares
</div>
<div class="row" #target>

  <div class="row-inner" >

      <div class="card" *ngFor="let movie of movies.results">

        <img (mouseover)="isHover=true" 
             (mouseover)="fireEvent($event)" 
             (mouseleave)="isHover=false" 
             (click)="getDetails(movie)" 
             class="card-img-top"
             src="{{base_url}}{{size}}{{movie.backdrop_path}}">
        <div class="card-body" *ngIf="isHover && innerText == base_url+size+movie.backdrop_path">
            <div [class.menu-title]="isHover">{{movie.title}}</div>
        </div>

      </div> 
     
  </div>
</div>

<ul style="display: inline-block;">
    <li><button (click)="toTheLeft(target)" class="nav-button" class="left-button" title="Esquerda">Esquerda</button></li>
    <li><button (click)="toTheRight(target)" class="nav-button" class="right-button" title="Direita">Direita</button></li>  
</ul> -->
<div class="category">
    Filmes populares
  <div class="container text-left my-3">
      <div id="recipeCarousel" class="carousel slide w-100">
          <div class="carousel-inner w-100" role="listbox" >
              <div class="carousel-item row  active">
                  <div class="col-3 float-left" *ngFor="let movie of movies.results; index as i">
                    <img  *ngIf="i == 0 || i == 1 || i == 2 || i == 3 || i == 4 " 
                          class="card-img-top"
                          class="img-fluid" 
                          (mouseover)="isHover=true" 
                          (mouseover)="fireEvent($event)" 
                          (mouseleave)="isHover=false" 
                          (click)="getDetails(movie)" 
                          src="{{base_url}}{{size}}{{movie.backdrop_path}}">
                          <div class="card-body" *ngIf="isHover && innerText == base_url+size+movie.backdrop_path">
                            <div [class.menu-title]="isHover">{{movie.title}}</div>
                          </div>
                  </div>
              </div>
              <div class="carousel-item row" >
                  <div class="col-3 float-left" *ngFor="let movie of movies.results; index as i">
                    <img *ngIf="i == 4 || i == 5 || i == 6 || i == 7" 
                          class="card-img-top"
                          class="img-fluid" 
                          (mouseover)="isHover=true" 
                          (mouseover)="fireEvent($event)" 
                          (mouseleave)="isHover=false" 
                          (click)="getDetails(movie)" 
                          src="{{base_url}}{{size}}{{movie.backdrop_path}}">
                          <div class="card-body" *ngIf="isHover && innerText == base_url+size+movie.backdrop_path">
                            <div [class.menu-title]="isHover">{{movie.title}}</div>
                          </div>
                  </div>
              </div>
              <div class="carousel-item row">
                  <div class="col-3 float-left" *ngFor="let movie of movies.results; index as i">
                    <img *ngIf="i == 8 || i == 9 || i == 10 || i == 11" 
                          class="card-img-top"
                          class="img-fluid" 
                          (mouseover)="isHover=true" 
                          (mouseover)="fireEvent($event)" 
                          (mouseleave)="isHover=false" 
                          (click)="getDetails(movie)" 
                          src="{{base_url}}{{size}}{{movie.backdrop_path}}">
                          <div class="card-body" *ngIf="isHover && innerText == base_url+size+movie.backdrop_path">
                            <div [class.menu-title]="isHover">{{movie.title}}</div>
                          </div>
                  </div>
              </div>
              <div class="carousel-item row" >
                  <div class="col-3 float-left" *ngFor="let movie of movies.results; index as i">
                    <img *ngIf="i == 12 || i == 13 || i == 14 || i == 15" 
                          class="card-img-top"
                          class="img-fluid" 
                          (mouseover)="isHover=true" 
                          (mouseover)="fireEvent($event)" 
                          (mouseleave)="isHover=false" 
                          (click)="getDetails(movie)" 
                          src="{{base_url}}{{size}}{{movie.backdrop_path}}">
                          <div class="card-body" *ngIf="isHover && innerText == base_url+size+movie.backdrop_path">
                            <div [class.menu-title]="isHover">{{movie.title}}</div>
                          </div>
                  </div>
              </div>
              <div class="carousel-item row">
                  <div class="col-3 float-left" *ngFor="let movie of movies.results; index as i">
                    <img *ngIf="i == 16 || i == 17 || i == 18 || i == 19" 
                          class="card-img-top"
                          class="img-fluid" 
                          (mouseover)="isHover=true" 
                          (mouseover)="fireEvent($event)" 
                          (mouseleave)="isHover=false" 
                          (click)="getDetails(movie)" 
                          src="{{base_url}}{{size}}{{movie.backdrop_path}}">
                          <div class="card-body" *ngIf="isHover && innerText == base_url+size+movie.backdrop_path">
                            <div [class.menu-title]="isHover">{{movie.title}}</div>
                          </div>
                  </div>
              </div>
          </div>
          
          <a class="carousel-control-next" href="#recipeCarousel" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
          </a>
          <a class="carousel-control-prev" href="#recipeCarousel" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
          </a>

      </div>
  </div>
</div>