<!-- <app-painel-simples-especifico [base_url]="base_url" [size]="size" [movies]="movies"></app-painel-simples-especifico> -->
<div class="row">
  <div class="category">
    Filmes populares
  </div>
  <div class="row-inner" #target>


      <div class="card" *ngFor="let movie of movies.results">

        <img (mouseover)="isHover=true" 
             (mouseover)="fireEvent($event)" 
             (mouseleave)="isHover=false" 
             (click)="getDetails(movie)" 
             class="card-img-top"
             src="{{base_url}}{{size}}{{movie.backdrop_path}}">

        <div class="card-body" *ngIf="isHover && innerText == base_url+size+movie.backdrop_path">
            <div [class.menu-title]="isHover">{{movie.title}}</div>
        </div>
      </div> 
     
  </div>
</div>
<ul style="display: inline-block;">
    <li><button (click)="toTheLeft(target)" class="nav-button" class="left-button" title="Esquerda">Esquerda</button></li>
    <li><button (click)="toTheRight(target)" class="nav-button" class="right-button" title="Direita">Direita</button></li>  
</ul>


<!-- <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" >
    <div class="carousel-item active" *ngFor="let movie of movies.results">
      <div>
          <img class="d-block w-10" src="{{base_url}}{{size}}{{movie.backdrop_path}}" alt="First slide">
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div> -->