<!-- <app-painel-simples-especifico [base_url]="base_url" [size]="size" [movies]="movies"></app-painel-simples-especifico> -->
<div class="row">
  <!-- <ngb-carousel>
    <ng-template ngbSlide="true"> -->
      <div class="card" style="width: 18rem;" *ngFor="let movie of movies.results">
        <img class="card-img-top"(click)="getDetails(movie)" src="{{base_url}}{{size}}{{movie.backdrop_path}}">
        <div class="card-body">
            <div class="card-title">{{movie.title}}</div>
        </div>
      </div>
    <!-- </ng-template>
  </ngb-carousel> -->

</div>
