.row{
  width: 100%;
  overflow: auto;
}

.left-button{
    position: relative;
    right: -30px;
}

.category{
    font-size: 20px;
    font-weight: 400;
    color: azure;
}

.row-inner{
    white-space: nowrap;
}

.card{
    display: inline-block;
    margin: 0 5px;
    border: none;
    border-radius: 0em;
    transition: 200ms;
}

.card:hover{
    margin: 0 50px;
    background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
    transform: scale(1.3);
}

.card-img-top{
    object-fit: fill;
}

.card-img-top:hover{
    background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
     /* background-image: linear-gradient(to top right, red, yellow) */
}

.teste{
    margin-top: 30px;
    /* object-fit: fill; */
    background-color: burlywood;
}

.teste:hover{
    background: linear-gradient(red, yellow); 
}

.menu-title{
    opacity: 1;
    touch-action: auto;
    font-size: 15px;
    font-weight: 600;
}

.card-body{
    position: absolute;
    bottom: 0;
    font-size: 10px;
    color: azure;
    font-weight: 300;
    /* opacity: 50; */
}

