/* $duration = 450ms;
$tileWidth = 250px;
$tileHeight = ($tileWidth / (16/9));
$iconSize = 50px;
$growFactor = 1.5 // 1.5 times the original size;

$moveLeft = -($tileWidth * ($growFactor - 1) / 2);
$moveRight = $tileWidth * ($growFactor - 1); */

.row{
  overflow: auto;
  width: 1728px;  
}

.row-inner{
    /* transition: 450ms transform;
    font-size: 0; */
    white-space: nowrap;
    /* margin: (250px / 2) 0;
    padding-bottom: 10px; */
}

.card{
    display: inline-block;
}