/* $duration = 450ms;
$tileWidth = 250px;
$tileHeight = ($tileWidth / (16/9));
$iconSize = 50px;
$growFactor = 1.5 // 1.5 times the original size;

$moveLeft = -($tileWidth * ($growFactor - 1) / 2);
$moveRight = $tileWidth * ($growFactor - 1); */

.row{
  overflow: auto;
  width: 100%;  
}

.category{
    font-size: 20px;
    font-weight: 400;
    color: azure;
}

.row-inner{
    white-space: nowrap;
}

.card{
    display: inline-block;
    margin-right: 10px;
}

.card-body{
    position: absolute;
     bottom: 0;
     font-size: 10px;
     color: azure;
     font-weight: 300;
     opacity: 50;
    /* left: 0;
   right: 0;
     font-size: 10px;
    
    background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%); */
}