.menu {
    width: 0px;
    /* height: 50%; */
    /* border-top: 1px solid #333; */
    background-color: #343a40;
    /* background-color: white; */
    flex-shrink: 0;
    overflow: hidden;
    transition: width .5s;
}

.fonteUm{
    font-size: 15px;
}

.fonteDois{
    font-size: 20px;
}

.fonteTres{
    font-size: 25px;
}


.menu-color{
    background-color: white;
}
 
.menu.menu-open {
    width: 100%;
}
 
.menu ul {
    list-style: none;
    padding: 10px 0px;
}
 
.menu ul li.active {
    background-color: #080808;
}
 
.menu ul li a {
    display: block;
    color: #9d9d9d;
    padding: .3em;
    white-space: nowrap;
    

}
 
.menu ul li:hover a,
.menu ul li.active a {
    color: #9d9d9d;
    font-weight: 600;
    
}